body{
  padding: 0;
  margin: 0;
  background-image: url("https://img.wallpapersafari.com/tablet/768/1024/32/66/kDKa4l.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
